<%- include('partials/header.ejs') %>
<blog>
  <% if (allBlogs.size > 0) { %>
  <div class="blogPage1">
    <ul class="list-unstyled">
      <% for (var i = 0; i < allBlogs.size ; i++) { %>
      <li>
        <div class="border-top border-bottom">
          <div class="d-flex flex-column flex-lg-row gap-5 align-items-start align-items-lg-center link-body-emphasis text-decoration-none">
            <div class="col-lg-8">
              <h6 class="mb-0" id="blogBodyTittle"> <%= allBlogs.get(i).tittle %></h6>
              <h1 class="text-body-secondary" id="blogBodyDate"><%= allBlogs.get(i).date %></h1>
            </div>
          </div>
          <div class="d-flex flex-row justify-between gap-3 buttonsMargin">
            <button class="btn btn-outline-info <%# rounded-pill %> blogButtons blogViewButton" type="button" id="<%= i %>">View</button>
            <button class="btn btn-outline-warning <%# rounded-pill %> blogButtons blogEditButton" type="button" id="<%= i %>">Edit</button>
            <button class="btn btn-outline-danger <%# rounded-pill %> blogButtons blogDeleteButton" type="button" id="<%= i %>">Delete</button>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
    <script>
      setInterval(() => {
        location.reload();
      }, 5000);
    </script>
  </div>
  <% } else { %>
  <div class="blogPage2">
    <div class="">
      <h3 id="noBlogs">Create a Blogs To show !</h3>
    </div>
  </div>
  <% } %>
</blog>
<%- include('partials/nologofooter.ejs') %>