<%- include('partials/header.ejs') %>

<edit>
  <div class="editPage">
    <div class="bd-edit m-0 border-0">
      <div class="mb-3">
        <label for="formControlInput1" class="form-label">Blogger Name</label>
        <input type="text" class="form-control" id="formControlInput1" value="<% if(passedData) { %> <%=passedData.name%> <% } else { %>NaN<% } %>" aria-label="Disabled input example" disabled readonly>
      </div>
      <div class="mb-3">
        <label for="formControlInput2" class="form-label">Blog Tittle</label>
        <input type="text" class="form-control" id="formControlInput2" value="<% if(passedData) { %><%=passedData.tittle%><% } else { %>NaN<% } %>">
      </div>
      <div class="mb-3">
        <label for="formControlTextarea" class="form-label">Blog Body</label>
        <textarea class="form-control" id="formControlTextarea" rows="15"><% if(passedData) { %><%=passedData.body%><% } else { %>NaN<% } %></textarea>
      </div>
      <div id="inputButton">
        <a href="/append">
          <button type="button" class="btn btn-success btn-md px-4 gap-3" file="<% if(passedData) { %><%=passedData.filename%><% } %>" id="appendButton">
            Save
          </button>
        </a>
      </div>
    </div>
  </div>
</edit>
<%- include('partials/nologofooter.ejs') %>